img {
  border: none;
  padding: 0;
}

figure figcaption {
  background: none;
  color: var(--color);
  opacity: 0.7;
  margin-top: 8px;
  font-size: 0.9em;
}


.post-title {
  border-bottom: none;
  padding-bottom: 0;
}

.post-title::after {
  display: none;
}
