img {
  border: none;
  padding: 0;
}

figure figcaption {
  background: none;
  color: var(--color);
  opacity: 0.7;
  margin-top: 8px;
  font-size: 0.9em;
}


.post-title {
  border-bottom: none;
  padding-bottom: 0;
}

.post-title::after {
  display: none;
}

table {
  border: none;
}

table th,
table td {
  border: 1px dotted var(--foreground);
}

table thead th,
table th {
  border-bottom: 1px solid var(--foreground) !important;
}

table tr:first-child th,
table tr:first-child td {
  border-top: none;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

table th:first-child,
table td:first-child {
  border-left: none;
}

table th:last-child,
table td:last-child {
  border-right: none;
}
